<li [ngClass]="{editing: isEditing, completed: todo.isCompleted}">
    <div class="view">
        <input class="toggle" type="checkbox" [checked]="todo.isCompleted" (change)="toggleTodo()">
        <label (dblclick)="setEditMode()">{{ todo.text }}</label>
        <button class="destroy" (click)="removeTodo()"></button>
    </div>
    <ng-container *ngIf="isEditing">
        <input #textInput class="edit" [class.error]="isError" type="text" [value]="editingText" (keyup)="changeText($event)" (keyup.enter)="onEdit()">
    </ng-container>
</li>