<footer class="footer" [ngClass]="{hidden: noTodos()}">
    <span class="todo-count">
        <strong>{{ activeCount() }} </strong>
        {{ itemsLeftText() }}
    </span>
    <ul class="filters">
        <li>
            <a href="/" [ngClass]="{selected: filters() === filterEnum.all}"
                (click)="changeFilter($event, filterEnum.all)">All</a>
        </li>
        <li>
            <a href="/" [ngClass]="{selected: filters() === filterEnum.active}"
                (click)="changeFilter($event, filterEnum.active)">Active</a>
        </li>
        <li>
            <a href="/" [ngClass]="{selected: filters() === filterEnum.completed}"
                (click)="changeFilter($event, filterEnum.completed)">Completed</a>
        </li>
    </ul>
</footer>